<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Front Proxy</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
</head>

<body>
  <h1>Front Proxy</h1>

  <p>Device: <%= device %></p>
  <p>View: <%= view %></p>
</body>
</html>
